body {
  width: 100%;
}
body #container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body #container #navbar {
  width: 100%;
  padding: 5px;
  height: 70px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
body #container #navbar .navbarTitle {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(87, 73, 74);
  padding: 20px 5px;
  font-family: "Quintessential", Sans-serif;
}
body #container #navbar .navbarMenu a {
  text-decoration: none;
  color: rgb(130, 105, 106);
}
body #container #firstPage {
  width: 100%;
  height: 60%;
  padding: 60px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.35) url("../images/bg-1.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  /* background-attachment: fixed; */
  color: white;
}
body #container #firstPage .firstPageText {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-family: "Oswald", Sans-serif;
}
body #container #firstPage .firstPageText .text-1 {
  font-size: 4rem;
  margin-top: 1rem;
}
body #container #firstPage .firstPageText .text-2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 400;
}
body #container #firstPage .firstPageText .text-3 {
  font-size: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
}
body #container #firstPage .firstPageText .text-4 {
  width: 130px;
  border-top: 2px solid white;
}
body #container #firstPage .firstPageText .text-5 {
  font-size: 0.875rem;
  color: white;
  text-decoration: none;
  margin-top: 3rem;
  border: 1px solid white;
  padding: 1rem 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Karla", Sans-serif;
}
body #container #firstPage .firstPageText .text-5:hover {
  background: white;
  color: black;
}
body #container #secondPage {
  width: 100%;
  background: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body #container #secondPage .secPageText {
  width: 100%;
  height: 50%;
  padding: 30px 20px 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
body #container #secondPage .secPageText .text-1 {
  color: rgb(189, 183, 107);
  margin-bottom: 20px;
  font-family: "Karla", Sans-serif;
}
body #container #secondPage .secPageText .text-2 {
  color: #404040;
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Oswald", Sans-serif;
}
body #container #secondPage .secPageText .text-3,
body #container #secondPage .secPageText .text-4 {
  color: #9d9d9d;
  margin-bottom: 20px;
  font-family: "Karla", Sans-serif;
  font-size: 0.9rem;
}
body #container #secondPage .secPageText .text-5 {
  width: 80%;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  background: rgb(189, 183, 107);
  padding: 0.8rem 1.2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Karla", Sans-serif;
  letter-spacing: 2px;
}
body #container #secondPage .secPageText .text-5:hover {
  background: rgba(189, 183, 107, 0.53);
}
body #container #secondPage .secPagePic {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body #container #secondPage .secPagePic .row {
  width: 50%;
  height: 100%;
}
body #container #secondPage .secPagePic img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  padding: 2px;
}
body #container #thirdPage {
  width: 100%;
  background: #f5f2f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body #container #thirdPage .thirdPageText {
  width: 100%;
  height: 50%;
  margin: 0 14px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
body #container #thirdPage .thirdPageText .text-1 {
  color: rgb(189, 183, 107);
  font-size: 0.8rem;
  margin-bottom: 20px;
  font-family: "Karla", Sans-serif;
}
body #container #thirdPage .thirdPageText .text-2 {
  color: #404040;
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Oswald", Sans-serif;
}
body #container #thirdPage .thirdPageText .text-3 {
  color: #9d9d9d;
  margin-bottom: 20px;
  font-family: "Karla", Sans-serif;
  font-size: 0.875rem;
  line-height: 1.3rem;
}
body #container #thirdPage .thirdPageText .text-4 {
  color: #9d9d9d;
  margin-bottom: 36px;
  font-family: "Karla", Sans-serif;
  font-size: 0.875rem;
  line-height: 1.3rem;
}
body #container #thirdPage .thirdPageText .text-5 {
  width: 80%;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  background: rgb(189, 183, 107);
  padding: 0.8rem 1.2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Karla", Sans-serif;
  letter-spacing: 2px;
}
body #container #thirdPage .thirdPageText .text-5:hover {
  background: rgba(189, 183, 107, 0.53);
}
body #container #thirdPage .thirdPagePic {
  width: 100%;
  height: 200px;
  background: url("../images/pic-5.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
body #container #forthPage {
  width: 100%;
  height: 40%;
  padding: 60px 0 60px 0;
  background: rgba(0, 0, 0, 0.25) url("../images/bg-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  /* background-attachment: fixed; */
  color: white;
}
body #container #forthPage .forthPageText {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  font-family: "Oswald", Sans-serif;
}
body #container #forthPage .forthPageText .text-1 {
  font-size: 2rem;
  margin-top: 1rem;
}
body #container #forthPage .forthPageText .text-2 {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 400;
  font-family: "Karla", Sans-serif;
}
body #container #forthPage .forthPageText .text-3 {
  font-size: 0.875rem;
  color: white;
  text-decoration: none;
  margin-top: 3rem;
  border: 1px solid white;
  padding: 1rem 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Karla", Sans-serif;
}
body #container #forthPage .forthPageText .text-3:hover {
  background: white;
  color: black;
}
body #container #fivePage {
  width: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body #container #fivePage .fivePageText {
  width: 100%;
  padding: 30px 20px 40px 20px;
  text-align: left;
}
body #container #fivePage .fivePageText .text-1 {
  color: #404040;
  font-size: 2.2rem;
  font-family: "Oswald", Sans-serif;
  border-left: solid 8px #9ccc65;
  padding: 0 0 0 22px;
  margin: 0 0 20px -20px;
}
body #container #fivePage .fivePageText .text-2 {
  color: #7a7a7a;
  font-size: 1rem;
  margin-bottom: 20px;
  font-family: "Karla", Sans-serif;
}
body #container #fivePage .fivePagePic {
  width: 100%;
  height: 200px;
  background: url("../images/pic-6.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
body #container #sixPage {
  width: 100%;
}
body #container #sixPage .row {
  width: 100%;
}
body #container #sixPage .row .col {
  width: 100%;
  padding: 0 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Karla", Sans-serif;
}
body #container #sixPage .row .col .sixPagePic {
  width: 25%;
  border-radius: 50%;
}
body #container #sixPage .row .col .sixPagetext {
  width: 65%;
  padding-left: 20px;
}
body #container #sixPage .row .col .sixPagetext h5 {
  font-size: 1rem;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.8);
}
body #container #sixPage .row .col .sixPagetext p {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.54);
}
body #container #sixPage .row .col .sixPageMoney {
  font-size: 1rem;
  text-align: right;
  width: 10%;
  color: rgba(0, 0, 0, 0.8);
}
body #container #sevenPage {
  width: 100%;
  background: #f5f2f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body #container #sevenPage .sevenPageText {
  width: 100%;
  height: 50%;
  margin: 0 14px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
body #container #sevenPage .sevenPageText .text-1 {
  color: rgb(189, 183, 107);
  font-size: 0.8rem;
  margin-bottom: 20px;
  font-family: "Karla", Sans-serif;
}
body #container #sevenPage .sevenPageText .text-2 {
  color: #404040;
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Oswald", Sans-serif;
}
body #container #sevenPage .sevenPageText .text-3 {
  color: #9d9d9d;
  margin-bottom: 20px;
  font-family: "Karla", Sans-serif;
  font-size: 0.875rem;
  line-height: 1.3rem;
}
body #container #sevenPage .sevenPageText .text-4 {
  color: #9d9d9d;
  margin-bottom: 36px;
  font-family: "Karla", Sans-serif;
  font-size: 0.875rem;
  line-height: 1.3rem;
}
body #container #sevenPage .sevenPageText .text-5 {
  width: 80%;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  background: rgb(189, 183, 107);
  padding: 0.8rem 1.2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Karla", Sans-serif;
  letter-spacing: 2px;
}
body #container #sevenPage .sevenPageText .text-5:hover {
  background: rgba(189, 183, 107, 0.53);
}
body #container #sevenPage .sevenPagePic {
  width: 100%;
  height: 200px;
  background: url("../images/pic-13.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}